.navbar[b-m5o957iscs] {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023244;
  color: #6c8b92;
}
.navbar-container[b-m5o957iscs] {
  width: 90%;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
}
  .navbar-container a[b-m5o957iscs] {
    text-decoration: none;
    color: #6c8b92;
    transition: 0.4s;
  }
  .navbar-container button[b-m5o957iscs] {
    transition: 0.4s;
    outline: none;
    background: transparent;
    border: none;
    color: #6c8b92;
    font-weight: 500;
    font-size: 18px;
  }
  .navbar-container a:hover[b-m5o957iscs], .navbar-container button:hover[b-m5o957iscs] {
    color: #bc8400;
    cursor: pointer;
  }
.footer[b-m5o957iscs] {
  color: #6c8b92;
  background-color: #023244;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent[b-m5o957iscs] {
  height: 85vh;
}