@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUDApplication.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="navbar">
            <div class="navbar-container">
                <div>
                    <a href="/">CRUD Application</a>
                </div>
                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-action="logout" asp-controller="account">
                        <button type="submit">Logout @User.Identity.Name</button>
                    </form>
                }
                else
                {
                    <div style="width: 11%; display: flex; justify-content: space-between; margin-right: 5px">
                        <a href="/account/registration">Register</a>
                        <a href="/account/login">Login</a>
                    </div>
                }
            </div>

        </div>
        <main class="maincontent" role="main">
            @RenderBody()
        </main>
        <div class="footer">
            Made by Anish Patel using ASP.NET CORE MVC
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
