.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023244;
  color: #6c8b92;
}
.navbar-container {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
}
.footer {
  color: #6c8b92;
  background-color: #023244;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent {
  height: 85vh;
}
