@model Customer;

@{
    ViewData["Title"] = "Create Page";
}

<div class="createpage-maincontainer">
    <div class="createpage-container">
        <div class="createpage-namecontainer">
            Create Customer
        </div>
        <form style="display:flex; flex-direction: column; background-color: #0a323f; padding: 10px; border-radius: 8px" method="post">
            <label style="margin: 5px 0; font-size: 15px; color: #6c8b92" asp-for="Name"></label>
            <input style="padding: 8px; font-size: 15px; border: none; outline: none; border-radius: 8px; margin: 5px 0; background-color: #a4bbbf" asp-for="Name" />
            <span style="color: #f56d6d; margin: 3px 3px" asp-validation-for="Name"></span>
            <label style="margin: 5px 0; font-size: 15px; color: #6c8b92" asp-for="Email"></label>
            <input style="padding: 8px; font-size: 15px; border: none; outline: none; border-radius: 8px; margin: 5px 0; background-color: #a4bbbf" asp-for="Email" />
            <span style="color: #f56d6d; margin: 3px 3px" asp-validation-for="Email"></span>
            <div>
            <button type="submit">Create</button>
            <a href="/">Back</a>
            </div>
        </form>
    </div>
</div>

<style>
    .createpage-maincontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .createpage-container {
        width: 90%;
        height: 100%;
    }
    .createpage-namecontainer {
        height: 80px;
        font-size: 20px;
        color: #bc8400;
        display: flex;
        align-items: center;
    }
    .createpage-container button {
        background-color: #bc8400;
        border: none;
        outline: none;
        padding: 8px 12px;
        color: white;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 10px;
        margin-right: 10px;
    }
        .createpage-container button:hover {
            cursor: pointer;
        }
    .createpage-container a {
        border-radius: 8px;
        text-decoration: none;
        padding: 9px 20px;
        color: white;
        background-color: #6c8b92;
    }
</style>
