@model Customer;

@{
    ViewData["Title"] = "Create Page";
}

<div class="createpage-maincontainer">
    <div class="createpage-container">
        <div class="createpage-namecontainer">
            Create Customer
        </div>
        <form style="display:flex; flex-direction: column; background-color: #0a323f; padding: 10px; border-radius: 8px" method="post">
            <label style="margin: 5px 0; font-size: 15px; color: #6c8b92" asp-for="Name"></label>
            <input style="padding: 8px; font-size: 15px; border: none; outline: none; border-radius: 8px; margin: 5px 0; background-color: #a4bbbf" asp-for="Name" />
            <label style="margin: 5px 0; font-size: 15px; color: #6c8b92" asp-for="Email"></label>
            <input style="padding: 8px; font-size: 15px; border: none; outline: none; border-radius: 8px; margin: 5px 0; background-color: #a4bbbf" asp-for="Email" />
            <div>
            <button type="submit">Create</button>
            <a href="/">Back</a>
            </div>
        </form>
    </div>
</div>
