/* _content/CRUDApplication/Views/Home/Create.cshtml.rz.scp.css */
.createpage-maincontainer[b-bbcn6gr3jm] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createpage-container[b-bbcn6gr3jm] {
  width: 90%;
  height: 100%;
}
.createpage-namecontainer[b-bbcn6gr3jm] {
  height: 80px;
  font-size: 20px;
  color: #bc8400;
  display: flex;
  align-items: center;
}
.createpage-container button[b-bbcn6gr3jm] {
  background-color: #bc8400;
  border: none;
  outline: none;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
}
  .createpage-container button:hover[b-bbcn6gr3jm] {
    cursor: pointer;
  }
  .createpage-container a[b-bbcn6gr3jm] {
    border-radius: 8px;
    text-decoration: none;
    padding: 9px 20px;
    color: white;
    background-color: #6c8b92;
  }
/* _content/CRUDApplication/Views/Home/Edit.cshtml.rz.scp.css */
.createpage-maincontainer[b-l8sew7m75w] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createpage-container[b-l8sew7m75w] {
  width: 90%;
  height: 100%;
}
.createpage-namecontainer[b-l8sew7m75w] {
  height: 80px;
  font-size: 20px;
  color: #bc8400;
  display: flex;
  align-items: center;
}
.createpage-container button[b-l8sew7m75w] {
  background-color: #bc8400;
  border: none;
  outline: none;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
}
  .createpage-container button:hover[b-l8sew7m75w] {
    cursor: pointer;
  }
  .createpage-container a[b-l8sew7m75w] {
    border-radius: 8px;
    text-decoration: none;
    padding: 9px 20px;
    color: white;
    background-color: #6c8b92;
  }
/* _content/CRUDApplication/Views/Home/Index.cshtml.rz.scp.css */
.homepage-maincontainer[b-48lzvmx1ym] {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-createcontainer[b-48lzvmx1ym] {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  font-size: 20px;
  color: #bc8400;
  align-items: center
}
.homepage-createbutton[b-48lzvmx1ym] {
  background-color: #bc8400;
  border: none;
  outline: none;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
}
.homepage-createbutton:hover[b-48lzvmx1ym] {
  cursor: pointer;
}
.homepage-container[b-48lzvmx1ym] {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
}
.homepage-notext[b-48lzvmx1ym] {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #6c8b92;
}
.homepage-maincontainer h1[b-48lzvmx1ym] {
  font-weight: 500;
}
.homepage-customercard[b-48lzvmx1ym] {
  margin: 10px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  background-color: #0a323f;
  color: #6c8b92;
}
  .homepage-customercard img[b-48lzvmx1ym] {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .homepage-customercard a[b-48lzvmx1ym] {
    width: 75px;
    margin: 0px 3px;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
    .homepage-customercard a:hover[b-48lzvmx1ym] {
      cursor: pointer;
    }
.homepage-editbutton[b-48lzvmx1ym] {
  border: 2px solid #bc8400;
}
.homepage-deletebutton[b-48lzvmx1ym] {
  border: 2px solid #f56d6d;
}
/* _content/CRUDApplication/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-m5o957iscs] {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023244;
  color: #6c8b92;
}
.navbar-container[b-m5o957iscs] {
  width: 90%;
  font-size: 18px;
  font-weight: 500;
}
.footer[b-m5o957iscs] {
  color: #6c8b92;
  background-color: #023244;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent[b-m5o957iscs] {
  height: 85vh;
}
